<h1>Top 10 Users</h1>

<div class="row">
  <div class="loader" *ngIf="users.length === 0"></div>
  <div class="col-xs-12 col-sm-3" *ngFor="let user of users">
    <div class="box user--card">
      <h2>{{ user.name }}</h2>
      Email: {{ user.email }}<br>
      Phone: {{ user.phone }}
    </div>
  </div>
</div>

<h1>Top 100 Posts</h1>

<div class="row">
  <div class="loader" *ngIf="posts.length === 0"></div>  
  <div class="col-xs-12" *ngFor="let post of posts">
    <div class="box user--card">
      <h3>{{ post.title }}</h3>
      <p>{{ post.body }}</p>
    </div>
  </div>
</div>
