<section class="block">
  <div class="loader" *ngIf="shows.length === 0"></div>
  <section *ngFor="let item of shows">
    <img
      loading="lazy"
      [src]="item.show.image.medium | httpsLink"
      alt="{{ item.show.name }}"
    />
    <h2>
      <a [routerLink]="['movie', item.show.id, friendlyName(item.show.name)]">{{
        item.show.name
      }}</a>
    </h2>
    <div>{{ item.show.summary | stripHtml | truncate: [70, "..."] }}</div>
    <aside>
      <ul>
        <li>Price: ${{ item.show.weight }}</li>
        <li>
          Rating: <strong>{{ item.show.rating.average }}</strong>
        </li>
      </ul>
      <a [routerLink]="['movie', item.show.id, friendlyName(item.show.name)]"
        >More details</a
      >
    </aside>
  </section>
</section>
