<app-header></app-header>

<!-- For the best SEO, it's nessesary to use Schema.org markup. 
It is code (semantic vocabulary) that you place on your website to help the search engines return
more informative results for users -->

<section class="block" itemscope itemtype="https://schema.org/Product">
  <div class="loader" *ngIf="!showDetails"></div>
  <section *ngIf="showDetails">
    <h1 itemprop="name">{{ showDetails.name }}</h1>
    <img
      loading="lazy"
      itemprop="image"
      [src]="showDetails.image.original | httpsLink"
      alt="{{ showDetails.name }}"
      width="250"
      height="351"
    />
    <div itemprop="description">{{ showDetails.summary | stripHtml }}</div>
    <aside>
      <ul>
        <li itemscope itemtype="https://schema.org/Offer">
          Price: <span itemprop="priceCurrency" content="USD">$</span>
          <span itemprop="price" content="15">15</span>
        </li>
        <li
          temprop="aggregateRating"
          itemscope
          itemtype="https://schema.org/AggregateRating"
        >
          Rating:
          <strong itemprop="ratingValue">{{
            showDetails.rating.average
          }}</strong>
        </li>
        <li>
          Premiered: <strong>{{ showDetails.premiered }}</strong>
        </li>
      </ul>
      <button>Buy!</button>
    </aside>
  </section>
</section>
